@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap");

header {
  h1,
  a {
    font-family: $header_font_family;
  }
}

.section-wrapper {
  h2 {
    font-family: $header_font_family;
  }
  .section p {
    font-family: $body_text_font_family;
  }
}
