/* color variables */
$primary_color: rgb(9, 87, 90);
$secondary_color: white;

/* font variables */
$header_font_family: Merriweather, Times, TimesNewRoman;
$body_text_font_family: OpenSans, sans-serif;
